* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(59, 58, 78);
}

h1 {
    text-align: center;
    background-color: blue;
    border-bottom: solid 10px aqua;
}